<div class="footer">
  <a class="label swc-blue-bg" href="{{site.dsi_github}}">GitHub</a>
  <a class="label swc-blue-bg" href="{{site.dsi_facebook}}">Facebook</a>
  <a class="label swc-blue-bg" href="https://docs.google.com/forms/d/e/1FAIpQLSdAdycnDl3U2RWLmmqsMbs21Lczz2_qs3e_5xaTWs6veB6vAA/viewform" target = "_blank">Comments/Questions?</a>
  <a class="label swc-blue-bg" href="{{page.workshop-repo}}/issues/">Report A Bug</a>
  <a class="label swc-blue-bg" href="{{site.dsi_ws}}/license.html">License</a>
</div>
